<!DOCTYPE html>
<html>

{{>header}}

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="images/error.jpg" alt="Error" class="img-fluid" title="Error" height="400" width="300">
                </figure>

                <p>Welcome!!</p>
                <h1>{{error_msg}}</h1>
                <a href="/"><button>Go Back</button></a>
            </div>


        </div>
    </div>



    {{>footer}}
</body>

</html>