<!DOCTYPE html>
<html>

{{>header}}

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">

            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.jpg" alt="About me" class="img-fluid" title="About me" height="400"
                        width="300">
                </figure>

            </div>

            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to Weather App</p>
                <h1>I am a<span class="text_clr"> MERN STACK DEVELOPER , PROGRAMMER</span></h1>
                <a href="/weather"><button>About Me</button></a>
            </div>


        </div>
    </div>



    {{>footer}}
</body>

</html>